.headerDiv {
    background: rgb(136,197,67);
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid black;
    .navbar-brand {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .navbar-toggler{
        .navbar-toggler-icon{
            color: white;
        }
    }
    .navbar-collapse{
        .navbar-nav{
             .nav-item{
            //     .nav-link:active,.nav-link:visited,.nav-link:hover{
            //         color: white !important;
            //         cursor: pointer;
            //     }

                .dropdown-menu{
                    border: 1px solid rgba(197,202,205,0.5);
                    .icon-padding {
                        margin-left: 5px;
                        margin-right: 5px
                    }
                }
                .dropdown-item{
                    padding: 5px;
                    &:hover,&:active{
                        background: none;
                        color: black;
                        cursor: pointer;
                    }
                }
                .border-bottom{
                    border-bottom: 1px solid rgba(197,202,205,0.5);
                }

            }  .nav-item{
              .nav-link.active{
                color: white !important;
                        cursor: pointer;
              }
            }

        }
    }
}
