<div class="container-fluid about-us-main-div">
  <div class="row justify-content-center about-us-upper-part">
    <div class="col-12">
      <img class="about-us-image-part" src="/assets/images/AboutUs1.jpg" width="100%">
      <div class="bottom-center">Web Design Company in Hyderabad, India</div>
    </div>
    <div class="col-12">
       <p class="about-us-text">We make professional websites for your way and use our website design experience to your business and more popularity in your profession. We offer a wide range of website design and development, Search Engine Optimization services which are easy to use and maintain. For many years we have been helping to our clients to improve their business website popularizes in Internet Marketing</p>
    </div>
  </div>
  <div class="row justify-content-center about-us-lower-div">
    <h3 class="about-us-header">What We Do</h3>
    <div class="col-12">
      <img class="about-us-image-part" src="/assets/images/AboutUs2.jpg" width="100%">
    </div>
  </div>
</div>
