.api-integration-div{
  h5.integration-h{
text-align: center;
padding: 15px;
margin: 0px;
  }
  p{
    text-indent: 50px;
    letter-spacing: 1px;
    line-height: 28px;
    word-spacing: 1px;
    text-align: justify;
    padding-top: 10px;
  }
  .integration-sh {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
  }
  .img-responsive{
    width: 100%;
  }
}
