<div class="container">
  <div class="api-integration-div">
    <h5 class="integration-h">
        API Integration
    </h5>
    <div class="integration-sh">
        Our areas of expertise are :
    </div>
    <p>
        Nowadays many API are available to do businesses. People can do business by just buying the API from the service provider and can just start the business immediately. API providers open many new areas of business. It's a kind of business where the investors don't need to invest in the core business but just need to pay for the API and got his earnings in the form of percentages
    </p>
    <div>
      <img src="/assets/images/Payment Gateway.jpg" class="img-responsive">
    </div>
  </div>

</div>
