<div class="container">
    <div class="row mobile-app-dev-div">
      <div class="col-12 mobile-app-dev-div-col">
        <h3 class="text-center">
          Mobile App Development
        </h3>
        <div class="col-12">
        <p class="text-justify">
          Smart phones have changed the game now days people are shifting to smartphones from conventional mobile phones. There are millions of apps are available to download and use. Each and every app claims to make users life easier. Native apps are very important now days it gives the feeling of personization and make the process more simple and intuitive.
          Mobile apps have changed the life of the people from health to finance apps are prepared for every sector to cater the need of users. Every day thousand of apps are coming into market to download and use. WhiteIndia main objective is to create state-of-the-art mobile applications which will provide our clients an upper edge in the market.
        </p>
    </div>
      </div>
    </div>
  <!--Mobile application categorize-->
    <div class="row mobile-app-dev-categorize">
    <div class="col-2 offset-4 verticaline-middle">
    </div>
    <div class=" col-10 offset-1 mobile-app-dev-div1">
    </div>
    </div>
    <div class="row">
      <div class=" col-3 android-left">
        <span class="android-ios">Android</span>
      </div>
      <div class="offset-6 col-3 ios-right">
        <span class="android-ios">IOS</span>
      </div>
    </div>

    <!--<div class="row">
      <div class="col-md-5">
        </div>
        <div class="col-md-2">
          </div>
      <div class ="col-md-5">
        </div>
      </div>
    -->
  </div>
