<div class="container-fluid services-main-div">
  <h2 class="services-header">Our Services</h2>
  <div class="services-headers" role="tablist">
    <a data-toggle="tab" href="#mobile-app-dev-service" role="tab" aria-controls="mobile-app-dev-service">
      <h5 class="ser-head mobile-app-header">Mobile App Development</h5>
    </a>
    <a data-toggle="tab" href="#e-commerce-websites-service" role="tab" aria-controls="e-commerce-websites-service">
      <h5 class="serv-head e-commerce-header">E-commerce Websites</h5>
    </a>
    <a data-toggle="tab" href="#api-integration-service" role="tab" aria-controls="api-integration-service">
      <h5 class="serv-head api-header">API Integration</h5>
    </a>
    <a data-toggle="tab" href="#web-designing-service" role="tab" aria-controls="web-designing-service">
      <h5 class="serv-head web-design-header">Web Designing</h5>
    </a>
    <a data-toggle="tab" href="#software-development-service" role="tab" arai-controls="software-development-service">
      <h5 class="serv-head software-deveopment-header">Software Development</h5>
    </a>
    <a data-toggle="tab" href="#seo-sem-service" role="tab" aria-controls="seo-sem-service">
      <h5 class="serv-head seo-sem-header">SEO/SEM </h5>
    </a>
  </div>
  <div class="col-12 text-center image-service">
    <img src="/assets/images/Services.jpg">
  </div>
  <div class="row">
    <div class="col-12 services-div tab-content">
      <div id="mobile-app-dev-service" class="tab-pane active" role="tabpanel">
        <h5 clas="services-sub-header">Mobile App Development</h5>
        <p class="services-sub-text">Smart phones have changed the game now days people are shifting to smartphones from conventional mobile phones. There are millions of apps are available to download and use. Each and every app claims to make users life easier. Native apps are very important now days it gives the feeling of personization and make the process more simple and intuitive.  
          Mobile apps have changed the life of the people from health to finance apps are prepared
          Mobile apps have changed the life of the people from health to finance apps are prepared
          Mobile apps have changed the life of the people
          Mobile apps have changed the life of the people from health to finance apps are prepared for every sector to cater the need of users. Every day thousand of apps are coming into market to download and use. WhiteIndia main objective is to create state-of-the-art mobile applications which will provide our clients an upper edge in the market
        </p>
      </div>
      <div id="e-commerce-websites-service" class="tab-pane" role="tabpanel">
        <h5 class="services-sub-header">E-Commerce Websites</h5>
        <p class="services-sub-text">
            Many times we find that client needs are very specific and the available scripts cannot cater the requirements. At that time our project managers and business analysts gather the requirements from the client and start working from the scratch. We have designed and developed many ecommerce websites which are very different and challenging in scale, designing and functionalities. We are among few of the ecommerce website designing companies in Hyderabad who have developed very different and unique ecommerce websites.
        </p>
      </div>
      <div id="api-integration-service" class="tab-pane" role="tabpanel">
        <h5 class="services-sub-header">API Integration</h5>
        <p class="services-sub-text">
            Nowadays many API are available to do businesses. People can do business by just buying the API from the service provider and can just start the business immediately. API providers open many new areas of business. It's a kind of business where the investors don't need to invest in the core business but just need to pay for the API and got his earnings in the form of percentages
        </p>
      </div>
      <div id="web-designing-service" class="tab-pane" role="tabpanel">
        <h5 class="services-sub-header">Web Designing</h5>
        <p class="services-sub-text">
            Whiteindia is a Professional Website Designing Company Hyderabad, India stays on best of the newest trends and technologies around the globe. Every business idea ranging from small to large takes wings and excels with a professionally designed website with our web design service. A Website is the first mode of contact for business with respect to the customers. We design your dreams, so that they represent your business which is user and search engine friendly in the website designing process. Unlike other website designing service providers, we at Whiteindia will design unique websites as compared to other website design service providers. We are constantly coming up with new thoughts and new ideas in designing a website that satisfies the client requirements
        </p>
      </div>
      <div id="software-development-service" class="tab-pane" role="tabpanel">
        <h5 class="services-sub-header">Software Development</h5>
        <p class="services-sub-text">
            Software not only smooths the businesses processes but it also creates a huge new market, but coupling the right target environment with the right technology can be challenging task for the software development companies.
            Developing robust software within a limited time and budget requires a higher level of technical expertise and experienced project management techniques. We at WhiteIndia believe in building custom applications that enable our clients to better communicate with customers and efficiently manage their businesses. First of all our team of project managers work into your requirement, design the framework, processes, and methods to increase your productivity and reduce costs, prioritizing your goals every step of the way. Our software development software processes are based on the best business practices and models, proven methodologies. We maintain a higher level of quality and performance for any software that we are developing.            
        </p>
      </div>
      <div id="seo-sem-service" class="tab-pane" role="tabpanel">
        <h5 class="services-sub-header">SEO/SEM</h5>
        <p class="services-sub-text">
            Whiteindia is  a leading web design company in hyderabad offering custom web design and seo services We offer Search Engine Optimization services to make your online business more profitable and to get more leads. Whiteindia – Best website designing and Digital Marketing in Hyderabad, will bring your website on Google’s first page. We provide professional SEO services at decent prices and results guarantee.
        </p>
      </div>
    </div>
  </div>
</div>
