.e-commerce-div {

   .content-h{
       text-align: center;
       padding: 15px;
       margin: 0px;
   }
  .content-p{
      text-indent:50px;
      letter-spacing: 1px;
      line-height: 28px;
      word-spacing: 1px;
      text-align: justify;
      padding-top: 10px;
  }
  }
  .col-md-4{
   border-radius:10px;
   background-color: #09F709;
   border: solid 1px #18181B;
  }
  .col-md-8{
  border-radius:10px;
  background-color: white;
  border:solid 1px #18181B;

  }
  .row{
      height:80px;
      margin-top:8px;
  }
