
<div class="container">
    <div class="e-commerce-div default-height">
        <h5 class="content-h">
          E-commerce Solutions!
        </h5>

        <p class="content-p" >Many times we find that client needs are very specific and the available scripts cannot
            cater the requirements. At that time our project managers and business analysts gather the requirements
             from the client and start working from the scratch. We have designed and developed many
             ecommerce websites which are very different and challenging in scale, designing and functionalities.
             We are among few of the ecommerce website designing companies in Hyderabad who have developed very
              different and unique ecommerce websites.
         </p>

        <div class="text-md-center">
        <div class="row">
          <div class="col-md-4">
            text
          </div>
          <div class="col-md-8">
            text
          </div>
        </div>
         <div class="row">

        <div class="col-md-8">
            text
        </div>
        <div class="col-md-4">
            text
          </div>
         </div>
          <div class="row">
          <div class="col-md-4">
              text
          </div>
          <div class="col-md-8">
              text
          </div>
        </div>
      </div>
      </div>

  </div>
